.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}

.formfield {
  display: table;
  width: 100%;
  padding-bottom: 5px;
}

.table-striped tbody tr:nth-child(odd) td {
  background-color: #c8c3cc;
}

.table-striped tbody tr:nth-child(even) td {
  background-color: #8ca3a3;
}

.table-striped tbody tr.highlight td {
  background-color: #F2F5A9;
}

body {
  background-color: #563f46;
}

input[type=text] {
  background-color: lightblue;
}
